
<head>
  <meta charSet="utf-8" />
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script>
    const preloader = new Image(),
          sliderPreloader = new Image();

    preloader.src = '/img/albums/175x175.gif';
    sliderPreloader.src = '/img/slider-preloader.gif';

    String.prototype.capitalize = function() {
      return this.charAt(0).toUpperCase() + this.slice(1);
    }
  </script>
</head>
