/* Button */

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
  border: 0;
  box-shadow: inset 0 0 0 1px rgba(160, 160, 160, 0.3);
  color: #3c3b3b;
  cursor: pointer;
  display: inline-block;
  font-family: ptc;
  font-size: 0.6em;
  letter-spacing: 0;
  line-height: 3em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .button:hover {}

input[type="submit"]:hover:active, input[type="reset"]:hover:active, input[type="button"]:hover:active, button:hover:active, .button:hover:active {
  background-color: rgba(46, 186, 174, 0.05);
}

input[type="submit"]:before, input[type="submit"]:after, input[type="reset"]:before, input[type="reset"]:after, input[type="button"]:before, input[type="button"]:after, button:before, button:after, .button:before, .button:after {
  color: #aaaaaa;
  position: relative;
}

input[type="submit"]:before, input[type="reset"]:before, input[type="button"]:before, button:before, .button:before {
  left: -1em;
  padding: 0 0 0 0.75em;
}

input[type="submit"]:after, input[type="reset"]:after, input[type="button"]:after, button:after, .button:after {
  left: 1em;
  padding: 0 0.75em 0 0;
}

input[type="submit"].fit, input[type="reset"].fit, input[type="button"].fit, button.fit, .button.fit {
  /*
			display: block;
			margin: 0 0 1em 0;
			width: 48%;
			float: left;
			margin: 0 5px;*/
}

input[type="submit"].big, input[type="reset"].big, input[type="button"].big, button.big, .button.big {
  /*
			font-size: 1em;
			padding: 0 3em;*/
}

input[type="submit"].small, input[type="reset"].small, input[type="button"].small, button.small, .button.small {
  font-size: 0.5em;
}

input[type="submit"].disabled, input[type="submit"]:disabled, input[type="reset"].disabled, input[type="reset"]:disabled, input[type="button"].disabled, input[type="button"]:disabled, button.disabled, button:disabled, .button.disabled, .button:disabled {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  color: rgba(160, 160, 160, 0.3) !important;
}

input[type="submit"].disabled:before, input[type="submit"]:disabled:before, input[type="reset"].disabled:before, input[type="reset"]:disabled:before, input[type="button"].disabled:before, input[type="button"]:disabled:before, button.disabled:before, button:disabled:before, .button.disabled:before, .button:disabled:before {
  color: rgba(160, 160, 160, 0.3) !important;
}


/* Form */

form {}

form.search {
  text-decoration: none;
  position: relative;
}

form.search:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

form.search:before {
  color: #aaaaaa;
  content: '\f002';
  display: block;
  height: 2.75em;
  left: 0;
  line-height: 2.75em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2.5em;
}

form.search>input:first-child {
  padding-left: 3.5em;
}

label {
  color: #3c3b3b;
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  margin: 0 0 1em 0;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(160, 160, 160, 0.075);
  border: none;
  border: solid 1px rgba(160, 160, 160, 0.3);
  border-radius: 0;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid, input[type="password"]:invalid, input[type="email"]:invalid, input[type="tel"]:invalid, select:invalid, textarea:invalid {
  box-shadow: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus, textarea:focus {}

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
}

.select-wrapper:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.select-wrapper:before {
  color: rgba(160, 160, 160, 0.3);
  content: '\f078';
  display: block;
  height: 2.75em;
  line-height: 2.75em;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 2.75em;
}

.select-wrapper select::-ms-expand {
  display: none;
}

input[type="text"], input[type="password"], input[type="email"], select {
  height: 2.7rem;
  font-size: 0.7rem;
}

textarea {
  padding: 0.75em 1em;
}

input[type="checkbox"], input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}

input[type="checkbox"]+label, input[type="radio"]+label {
  text-decoration: none;
  color: #646464;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  padding-left: 2.4em;
  padding-right: 0.75em;
  position: relative;
}

input[type="checkbox"]+label:before, input[type="radio"]+label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

input[type="checkbox"]+label:before, input[type="radio"]+label:before {
  background: rgba(160, 160, 160, 0.075);
  border: solid 1px rgba(160, 160, 160, 0.3);
  content: '';
  display: inline-block;
  height: 1.65em;
  left: 0;
  line-height: 1.58125em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.65em;
}

input[type="checkbox"][value="on"]+label:before, input[type="radio"]:checked+label:before {
  background: #3c3b3b;
  border-color: #3c3b3b;
  color: #ffffff;
  content: '\f00c';
}

input[type="checkbox"]:focus+label:before, input[type="radio"]:focus+label:before {}

input[type="radio"]+label:before {
  border-radius: 100%;
}

::-webkit-input-placeholder {
  color: #aaaaaa !important;
  opacity: 1.0;
}

:-moz-placeholder {
  color: #aaaaaa !important;
  opacity: 1.0;
}

::-moz-placeholder {
  color: #aaaaaa !important;
  opacity: 1.0;
}

:-ms-input-placeholder {
  color: #aaaaaa !important;
  opacity: 1.0;
}

.formerize-placeholder {
  color: #aaaaaa !important;
  opacity: 1.0;
}


/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon>.label {
  display: none;
}

.icon.suffix:before {
  float: right;
}


/* List */

ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}

ol li {
  padding-left: 0.25em;
}

ul {
  list-style: disc;
}

ul li {}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px rgba(160, 160, 160, 0.3);
  padding: 0.5em 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.icons li>* {
  text-decoration: none;
  border: 0;
}

ul.icons li>*:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

ul.icons li>* .label {
  display: none;
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
  float: left;
  width: 100%;
}

ul.actions li {
  display: inline-block;
  vertical-align: middle;
}

ul.actions li:last-child {
  padding-right: 0;
}

ul.actions.pagination .next {
  text-decoration: none;
}

ul.actions.pagination .next:after {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

ul.actions.pagination .next:after {
  content: '\f054';
}

ul.actions.pagination .previous {
  text-decoration: none;
}

ul.actions.pagination .previous:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

ul.actions.pagination .previous:before {
  content: '\f053';
}

@media screen and (max-width: 1280px) {
  ul.actions.pagination {
    text-align: center;
  }
  ul.actions.pagination .next, ul.actions.pagination .previous {
    min-width: 20em;
  }
}

@media screen and (max-width: 736px) {
  ul.actions.pagination .next, ul.actions.pagination .previous {
    min-width: 18em;
  }
}

ul.actions.small li {}

ul.actions.vertical li {
  display: block;
  float: left;
  width: 50%;
  padding: 10px;
}

ul.actions.vertical li:first-child {}

ul.actions.vertical li>* {
  width: 100%;
}

ul.actions.vertical.small li {
  padding: 1em 0 0 0;
}

ul.actions.vertical.small li:first-child {
  padding-top: 0;
}

ul.actions.fit {
  display: table;
  margin-left: -1em;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 1em);
}

ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1em;
}

ul.actions.fit li>* {
  margin-bottom: 0;
}

ul.actions.fit.small {
  margin-left: -0.5em;
  width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
  padding: 0 0 0 0.5em;
}

@media screen and (max-width: 480px) {
  ul.actions {
    margin: 0 0 2em 0;
  }
  ul.actions li {
    display: block;
    text-align: center;
    width: 100%;
  }
  ul.actions li:first-child {}
  ul.actions li>* {
    width: 100%;
    margin: 0 !important;
  }
  ul.actions.small li {
    padding: 0.5em 0 0 0;
  }
  ul.actions.small li:first-child {
    padding-top: 0;
  }
}

ul.posts {
  list-style: none;
  padding: 0;
}

ul.posts li {
  border-top: dotted 1px rgba(160, 160, 160, 0.3);
  margin: 1.5em 0 0 0;
  padding: 1.5em 0 0 0;
}

ul.posts li:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

ul.posts article {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: -moz-flex-start;
  -webkit-align-items: -webkit-flex-start;
  -ms-align-items: -ms-flex-start;
  align-items: flex-start;
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

ul.posts article .image {
  display: block;
  margin-right: 1.5em;
  min-width: 4em;
  width: 4em;
}

ul.posts article .image img {
  width: 100%;
}

ul.posts article header {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex: 1;
}

ul.posts article header h3 {
  font-size: 0.7em;
  margin-top: 0.125em;
}

ul.posts article header .published {
  display: block;
  font-family: cpr;
  font-size: 0.6em;
  font-weight: 400;
  letter-spacing: 0.25em;
  margin: -0.625em 0 1.7em 0;
  text-transform: uppercase;
}

ul.posts article header> :last-child {
  margin-bottom: 0;
}

dl {
  margin: 0 0 2em 0;
}

dl dt {
  display: block;
  font-weight: 700;
  margin: 0 0 1em 0;
}

dl dd {
  margin-left: 2em;
}


/* Header */

#header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  /* 		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between; */
  background-color: #ffffff;
  height: 3.5em;
  left: 0;
  line-height: 3.5em;
  top: 0;
  width: 100%;
  z-index: 10000;
  margin: 0 0 10px 0;
}

#header a {
  color: inherit;
  text-decoration: none;
}

#header ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#header ul li {
  display: inline-block;
  padding-left: 0;
}

#header h1 {
  line-height: inherit;
  padding: 0 0 0 0px !important;
  white-space: nowrap;
  margin: 0;
  height: 56px !important;
  border-right: 1px solid #e4e4e4;
}

#header h1 a {
	float: left;
	height: 56px;
	margin: 3px 0px 0 0px !important;
	background-size: auto 51px;
	width: 135px;
}

#header .links {
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: inherit;
  line-height: inherit;
  overflow: hidden;
}

#header .links ul li {
  line-height: 1;
}

#header .links ul li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

#header .links ul li a {
  border-bottom: 0;
  font-family: cpr;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 56px;
  padding: 15px 10px;
}

#header .links ul li a:hover {
  color: #fff !important;
  background: #d9534f;
  padding: 13px;
}

#header .links ul li a.active {
  color: #d9534f;
}

#header .main {
  height: inherit;
  line-height: inherit;
  text-align: right;
  position: absolute;
  right: 0;
}

#header .main ul {
  height: inherit;
  line-height: inherit;
  background: #fff;
}

#header .main ul li {
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  height: inherit;
  line-height: inherit;
  white-space: nowrap;
}

#header .main ul li>* {
  display: block;
  float: left;
}

#header .main ul li>a {
  text-decoration: none;
  border-bottom: 0;
  color: #fe3c3c;
  overflow: hidden;
  position: relative;
  text-indent: 4em;
  width: 2em;
  font-size: 2rem;
}

#header .main ul li>a:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

#header .main ul li>a:before {
  display: block;
  height: inherit;
  left: 0;
  line-height: inherit;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: 0;
  width: inherit;
}

#header form {
  margin: 0;
}

#header form input {
  display: inline-block;
  height: 2.5em;
  position: relative;
  top: -2px;
  vertical-align: middle;
}

#header #search {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}

#header #search input {
  width: 12em;
}

#header #search.visible {
  max-width: 12.5em;
  opacity: 1;
  padding: 0 0.5em 0 0;
}

@media screen and (max-width: 980px) {
  #header .links {
    display: none;
  }
}

@media screen and (max-width: 736px) {
  #header {
    height: 56px !important;
  }
  #header h1 {
    padding: 0 0 0 1em;
  }
  #header .main .search {
    display: none;
  }
}


/* Menu */

#menu {
  -moz-transform: translateX(25em);
  -webkit-transform: translateX(25em);
  -ms-transform: translateX(25em);
  transform: translateX(25em);
  -moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
  -webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
  -ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
  transition: transform 0.5s ease, visibility 0.5s;
  -webkit-overflow-scrolling: touch;
  background: #ffffff;
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  box-shadow: none;
  height: 100%;
  max-width: 80%;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 25em;
  z-index: 10002;
}

#menu>* {
  border-top: solid 1px rgba(160, 160, 160, 0.3);
  padding: 20px 30px;
  float: left;
  width: 100%;
}

#menu>*> :last-child {
  margin-bottom: 0;
}

#menu> :first-child {
  border-top: 0;
}

#menu .links {
  list-style: none;
  padding: 0;
}

#menu .links>li {
  border: 0;
  border-top: dotted 1px rgba(160, 160, 160, 0.3);
}

#menu .links>li a {
  display: block;
  border-bottom: 0;
  font-family: cpr;
  text-transform: uppercase;
  font-size: 2rem;
}

#menu .links>li a h3 {
  -moz-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
  font-size: 0.7em;
  color: #111;
}

#menu .links>li a p {
  font-size: 0.4em;
  letter-spacing: 0.25em;
  margin: 10px 0;
  font-family: ptc;
  color: #888888;
  text-transform: capitalize;
}

#menu .links>li a:hover h3 {}

#menu .links>li:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

body.is-menu-visible #menu {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
}

@media screen and (max-width: 736px) {
  #menu>* {
    padding: 20px;
  }
}
