@font-face {
  font-family: cpr;
  src: url("../fonts/PFDinTextCompPro-Regular.ttf");
}

@font-face {
  font-family: ptc;
  src: url("../fonts/PTC55F.ttf");
}

@font-face {
  font-family: ptc-bold;
  src: url("../fonts/PTC55F-bold.ttf");
}

@font-face {
  font-family: 'FFDinProCond';
  src: url('../fonts/FFDinProCond-Bold.eot');
  src: url('../fonts/FFDinProCond-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/FFDinProCond-Bold.woff2') format('woff2'), url('../fonts/FFDinProCond-Bold.woff') format('woff'), url('../fonts/FFDinProCond-Bold.ttf') format('truetype'), url('../fonts/FFDinProCond-Bold.svg#FFDinProCond-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FFDinProCond';
  src: url('../fonts/FFDinProCond-Medium.eot');
  src: url('../fonts/FFDinProCond-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/FFDinProCond-Medium.woff2') format('woff2'), url('../fonts/FFDinProCond-Medium.woff') format('woff'), url('../fonts/FFDinProCond-Medium.ttf') format('truetype'), url('../fonts/FFDinProCond-Medium.svg#FFDinProCond-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: ptc;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* background: #E4E4E4 !important;  */
  display: block;
  padding: 10px;
  width: calc (100%-10px);
  width: -moz-calc (100%-10px);
  width: -webkit-calc (100%-10px);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 12px;
  min-width: 320px !important;
  max-width: 1900px !important;
  margin: 0 auto !important;
  background-color: #E4E4E4;
}

.ALLLL {

}

p {
  margin-bottom: 0px;
}

.img-size {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #111;
}

.clear {
  clear: both
}


/*-------- Header --------*/


/* Elastislide Style */

.es-carousel-wrapper {
  background: #f5f5f5;
  padding: 0px 40px;
  position: relative;
  height: 68px;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
}

.es-carousel {
  overflow: hidden;
  height: 100%;
}

.es-carousel ul {
  display: none;
  float: left;
  margin: 0;
  padding: 0;
  height: 68px;
}

.es-carousel ul li {
  height: 68px;
  float: left;
  display: block;
}

.es-carousel ul li a {
  display: block;
  border-style: solid;
  border-color: #222;
  height: 100%;
}

.es-carousel ul li a img {
  display: block;
  border: none;
  max-height: 100%;
  max-width: 100%;
}

.es-nav span {
  position: absolute;
  top: 30%;
  color: #797979;
  font-size: 1.2rem;
}

.es-nav span.es-nav-prev {
  left: 11px;
}

.es-nav span.es-nav-next {
  right: 11px;
}

.es-nav span:hover {
  opacity: 1.0;
}


/*main menu*/

#menu-bottom {
  z-index: 9999;
  height: 63px;
  background: url(../img/square.png);
  width: 100%;
}

#menu-bottom-1 {
  width: 100%;
  -webkit-box-shadow: 0px 0px 23px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 23px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 23px 3px rgba(0, 0, 0, 0.5);
  max-width: 1880px;
  margin: 0 auto;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border: 0px solid #000000;
}

.menu-bottom-2 {
  background: #fff;
  height: 56px;
  position: relative;
  top: 0;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border: 0px solid #000000;
}

.menu-bottom-2 .logo_big.logo_mobile_nav {
  float: left;
  height: 56px;
  padding: 0;
  background-size: auto 51px;
  border-right: 1px solid #e4e4e4;
  margin: 0;
  width: 150px;
  background-position-y: 5px;
}

.default {
  width: 0;
}

.fixed {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
}

.top_baner {
  position: relative;
  overflow: hidden;
  margin: 0 0 5px 0;
}

span.baner_top {
  width: 50%;
  float: left;
  margin: 0 0 0px 0;
}

.ban_left {
  float: left;
  margin: 0 3px 0 0;
}

.ban_right {
  float: left;
  margin: 0 0 0 3px;
}

span.baner_top img {
  width: 100%;
  float: left;
  min-height: 31px;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.baner2 {
  position: relative;
  overflow: hidden;
  margin: 0 0 5px 0;
  width: 100%;
}

.baner4 {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  padding: 20px 40px;
  background: #fff;
  width: 100%;
}


/*-------- header --------*/

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.header_container {
  position: relative;
  background: #fff;
  /*overflow: hidden;*/
  height: 90px;
}

.logo_big_1 {
  float: left;
  width: 238px;
  height: 90px;
  background: #fff;
  border-right: 1px solid #e4e4e4;
  /*background-image: url(/img/logo_kipyatcom.svg);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;*/
}

a.logo_big {
  float: left;
  margin: 9px 31px 0 31px;
  height: 81px;
  width: 176px;
  background-image: url(/img/logo_kipyatcom.svg);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

a.logo_big:hover {}

img.logo_big {
  width: 176px;
  height: 81px;
}

.header_right {
  position: absolute;
  height: 33px;
  overflow: hidden;
  background: #fafafa;
  border-bottom: 1px solid #e4e4e4;
  width: -moz-calc(100% - 239px);
  width: -webkit-calc(100% - 239px);
  width: calc(100% - 239px);
  left: 239px;
}

.table-cell {
  display: table-cell;
  width: 1%;
}

.table-cell_in {
  height: 33px;
  background: #fff;
  color: #949494;
  font-size: 0.7rem;
  border-right: 1px solid #e4e4e4;
  float: left;
  padding: 0 5px;
}

.phone_txt {
  padding: 8px;
  float: left;
}

.icon1 {
  padding: 4px 5px 3px 5px;
  float: left;
  font-size: 1.2rem;
  color: #b9b9b9;
  height: 100%;
  line-height: 1.5rem;
}

.phone_txt_number {
  padding: 8px;
  float: left;
  color: #d9534f;
  font-family: ptc-bold;
  font-size: 1rem;
  line-height: 1rem;
}

.table-cell_in_right {
  height: 33px;
  color: #949494;
  font-size: 9pt;
  border-left: 1px solid #e4e4e4;
  float: right;
}

.app {
  float: right;
  margin: 4px 4px 0px 4px;
}

.app_img {
  width: 113px;
}

.table-cell_in_right_language {
  height: 33px;
  color: #949494;
  font-size: 9pt;
  float: right;
  padding: 0 20px 0 0;
}

a.language {
  padding: 8px 15px 8px 15px;
  height: 32px;
  float: left;
}

a.language:hover {
  color: #2196F3;
  background: #fff;
}

a#current {
  background: #fff;
}

.header_right_bottom {
  position: absolute;
  height: 57px;
  width: -moz-calc(100% - 239px);
  width: -webkit-calc(100% - 239px);
  width: calc(100% - 239px);
  left: 239px;
  top: 33px;
}

.stretch-element-bottom {}

.bottom-cell_bottom {
  height: 56px;
  background: #fff;
  color: #949494;
  font-size: 9pt;
  border-right: 1px solid #e4e4e4;
  float: left;
}


/*-------- select city --------*/

.nav .nav-column li option {
  display: block;
  line-height: 20px;
  font-family: ;
  font-size: 20px;
  color: #888888;
  background: #fff;
  margin: 5px;
  padding: 18px 20px;
}


/* Reset */

.nav, .nav a, .nav ul, .nav li, .nav div, .nav form, .nav input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.nav a {
  text-decoration: none;
}

.nav li.city {
  list-style: none;
}

.nav li.city2 {
  list-style: none;
  width: 16.66%;
  float: left;
  text-align: left;
}


/* Menu Container */

.nav {
  float: left;
  cursor: default;
  z-index: 500;
}


/* Menu List */

.nav>li {
  display: block;
  float: left;
}


/* Menu Links */

.nav>li>a {
  position: relative;
  display: block;
  z-index: 510;
  padding: 0 20px;
  line-height: 56px;
  font-family: cpr;
  height: 56px;
  font-size: 20px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  text-transform: uppercase;
}

.nav>li>a:focus {
  background: #f5f5f5;
}

.nav>li>a:active {
  background: #f5f5f5;
}


/* Menu Dropdown */

.nav>li>div {
  position: absolute;
  display: block;
  left: -239px;
  z-index: 5000;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background: #f5f5f5;
  right: 0;
}

.nav>li:hover>div {
  opacity: 1;
  visibility: visible;
  overflow: visible;
}


/* Menu Content Styles */

.nav .nav-column {
  float: left;
  padding: 1.5% 4.8%;
  width: 90.36%;
}

.nav .nav-column li a {
  display: block;
  line-height: 1rem;
  font-size: 1rem;
  background: #fff;
  margin: 5px;
  padding: 10px 15px;
}

.nav .nav-column li a:hover {
  color: #666666;
  background: #E4E4E4;
}

.nav .nav-column li a i {
  padding: 0 10px 10px 0px;
  float: left;
  font-size: 13px;
  line-height: 21px;
  color: #2196F3;
}

.sotial_icons {
  width: 33px;
  height: 33px;
  color: #949494;
  font-size: 9pt;
  float: left;
}

.sotial_icons a.sotial_icons_insta {
  color: #b9b9b9;
  font-size: 16.5pt;
  float: left;
  border-right: 1px solid #e4e4e4;
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 33px;
}

.sotial_icons a.sotial_icons_insta:hover {
  color: #2196F3;
}


/* Search Form */

.nav>li.nav-search>form {
  height: 56px;
  /*border-right: 1px solid #e4e4e4;*/
}

.nav>li.nav-search input[type="text"] {
  display: block;
  float: left;
  padding: 16px 0 16px 20px;
  line-height: 24px;
  color: #000;
  background: #fff;
  font-family: ptc;
  font-size: 9pt;
  font-weight: normal;
  text-transform: uppercase;
  -webkit-appearance: none;
  border: none;
}

.nav>li.nav-search input[type="text"]:focus {
  color: #000;
}

.nav>li.nav-search input[type="text"]:focus, .nav>li.nav-search:hover input[type="text"] {}

.nav>li.nav-search input[type="submit"] {
  display: block;
  float: left;
  width: 56px;
  height: 56px;
  padding: 0 25px;
  cursor: pointer;
  box-shadow: none;
  background: #fff url(../img/search-icon.png) no-repeat center center;
}

.nav>li.nav-search input[type="submit"]:hover {
  background-color: #ededed;
}

.menu {
  float: right;
}

.menu li.menu1 {
  display: block;
  float: left;
  list-style: none;
  border-left: 1px solid #e4e4e4;
}

.menu li.menu1 a {
  display: block;
  padding: 0 10px;
  line-height: 2rem;
  font-family: cpr;
  height: 56px;
  font-size: 2rem;
  text-transform: uppercase;
}

.menu li.menu1 a:hover {
  color: #fff;
  background: #d9534f;
}

.menu li.menu1 a.active {
  color: #fff;
  background: #d9534f;
}


/*-------- header  END		-------*/


/* #imgimg {
position: relative;
} */

.box-sl {
  position: absolute;
  top: 0 !important;
  float: left;
}

.box-sl img {
  float: left;
  position: relative;
  top: 0 !important;
}

.slider-sl {
  width: 100%;
  position: relative;
  top: 0;
  height: 76%;
  overflow: hidden;
  max-height: 750px !important;
  max-width: 561px !important;
  min-height: 275px !important;
  min-width: 205px !important;
}

.slides {
  padding: 0;
  margin: 0;
  /* Simple clear fix */
  overflow: hidden;
  /**
		 * Prevent blinking issue
		 * Not tested. Experimental.
		 */
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  /**
		 * Here is CSS transitions
		 * responsible for slider animation in modern broswers
		 */
  -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  height: 100%;
}

.slide-sl {
  top: 0 !important;
  float: left;
  left: 0;
  height: 100%;
}

.slide-sl a img {
  min-height: 274px;
}

.slider-sl-arrows {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.slider-sl-arrow {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
}

.slider-sl-arrow--right {
  top: 45%;
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(17, 17, 17, 0.2);
  font-size: 1.5rem;
  right: 10px;
  background: url(../img/right.png) 0 0 no-repeat;
  width: 58px;
  height: 67px;
  padding: 0;
  opacity: 0.2;
}

.slider-sl-arrow--right:hover {
  opacity: 1;
  background: url(../img/right-b.png) 0 0 no-repeat;
}

.slider-sl-arrow--left {
  top: 45%;
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(17, 17, 17, 0.2);
  font-size: 1.5rem;
  padding: 10px 15px;
  background: url(../img/left.png) 0 0 no-repeat;
  width: 58px;
  height: 67px;
  padding: 0;
  opacity: 0.2;
  left: 10px;
}

.slider-sl-arrow--left:hover {
  opacity: 1;
  background: url(../img/left-b.png) 0 0 no-repeat;
}

.slider-sl-nav {
  position: absolute;
  top: 7px;
  left: 50% !important;
  display: none;
}

.slider-sl-nav__item {
  width: 3px;
  height: 3px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid #000000;
}

.slider-sl-nav__item:hover {
  background: #ccc;
}

.slider-sl-nav__item--current {
  background: #fe3c3c;
}


/*  -------------------   Content-1   -------------------   */

#cont-1 {
  background: #fff;
}

.content1 {
  position: relative;
  overflow: hidden;
  margin: 5px 0;
  min-height: 681px;
}

.content1-left {
  width: 100%;
  max-height: 987px;
  min-height: 681px;
  float: left;
}

.content1-poster {
  float: left;
}

.content2-poster {
  width: 100%;
  background: #455a64;
  float: left;
  position: relative;
  height: 100%;
}

.content2-poster img.zero_img {
  /*
    width: 100%;
    float: left;
    position: absolute;
    top: 0; */
}

.content2-poster img.zero_img {
  width: 100%;
  float: left;
}

.content1-adv {
  float: left;
}

.content2-adv {
  width: 100%;
  background: #455a64;
  float: left;
  position: relative;
  z-index: 6;
}

.content2-adv img {
  width: 100%;
  float: left;
}

.content1-right {
  width: 69.2%;
  max-height: 987px;
  min-height: 681px;
  position: absolute;
  right: 0;
  height: 100%;
}

.content1-right-01 {
  position: absolute;
  right: 0;
  width: 100%;
  height: 49.5%;
}

.content1-right-02 {
  position: absolute;
  right: 0;
  width: 100%;
  height: 49.5%;
  top: 50.5%;
}

.fotograf {
  position: absolute;
  color: #a5a5a5;
  font-size: 9px;
  padding: 0px 7px 15px 20px;
  bottom: 0;
  z-index: 5 !important;
  left: 0;
}

.View {
  position: absolute;
  color: #a5a5a5;
  font-size: 9px;
  padding: 7px 20px 15px 7px;
  right: 0;
  bottom: 0;
  z-index: 5 !important;
}

.album_1 {
  width: 100%;
  float: left;
  position: relative;
  margin: 0 0 5px 0;
}

.album_1 img {
  width: 100%;
  float: left;
  position: relative;
  z-index: -1;
  min-height: 178px;
}

.album_2 {
  height: 100%;
  width: 100%;
  background: #3b4c5f;
  float: left;
  position: absolute;
  right: 33.5%;
}

.album_3 {
  height: 100%;
  width: 33%;
  background: #3b4c5f;
  float: left;
  position: absolute;
  right: 0%;
}

.album_name {
  position: absolute;
  margin: 20px 20px 20px 20px;
  bottom: 0;
  z-index: 100;
  text-align: center;
  width: calc(100% - 40px);
  border: 3px solid #fff;
}

.album_name p.place-name {
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
}

.album_name a.item {
  color: white;
  text-decoration: none;
  font-size: 25px;
  text-transform: uppercase;
}

.album_name p.day-name {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

.album_pic {
  float: left;
}

.crop {
  background-position: center;
  background-size: cover;
  display: block;
}

.post-entry-meta {
  height: auto;
  bottom: 0;
  left: 0;
  padding: 0 20px 35px;
  position: absolute;
  width: 100%;
  z-index: 2;
  background-size: cover;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 90%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 90%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 90%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}

.post-entry-meta:hover {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}

.post-entry-meta-category {
  margin-bottom: 5px;
}

.label-date {
  background-color: #d9534f;
}

.label-year {
  padding: 0 !important;
  font-weight: normal !important;
}

.label {
  display: inline;
  padding: 2px 5px;
  font-size: 75%;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  text-transform: uppercase;
}

.post-entry-meta-title h2 a {
  color: #fff;
  text-rendering: optimizelegibility;
  font-size: 1.3rem;
  text-transform: uppercase;
  line-height: 21px;
  float: left;
  text-decoration: none;
  letter-spacing: -0.2px;
  margin: 0 0 0px 0;
  width: 100%;
  line-height: 110%;
  font-family: 'FFDinProCond';
}

.post-title {
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  float: left;
  text-transform: uppercase;
  line-height: 110%;
  font-family: ptc;
}

.buttons-line {
  position: relative;
  margin: 10px 0 20px 0;
  height: 49px;
  background-color: #fff;
}

a.button-red {
  background-color: #e4e4e4;
  color: #455a64;
  padding: 16px 36px;
  /*transition: all 0.2s linear 0s;*/
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
  right: calc(50% + 5px);
  right: 51%;
  right: -moz-calc(50% + 5px);
  right: -webkit-calc(50% + 5px);
  border: 2px solid #ccc;
}

a.button-red:hover {
  background-color: #d9534f;
  color: #fff;
  border: 2px solid #fff;
}

a.button-red span {
  font-family: ptc-bold;
}

a.button-navy {
  background-color: #e4e4e4;
  color: #455a64;
  padding: 16px 36px;
  /*transition: all 0.2s linear 0s;*/
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
  right: -51%;
  right: calc(-50% - 5px);
  right: -moz-calc(-50% - 5px);
  right: -webkit-calc(-50% - 5px);
  float: left;
  border: 2px solid #ccc;
}

a.button-navy:hover {
  background-color: #d9534f;
  color: #fff;
  border: 2px solid #fff;
}

a.button-navy span {
  font-family: ptc-bold;
}

.content-line {
  position: relative;
   margin: 10px 0;
   min-height: 100px;
   overflow: hidden;
   background: #fff;
   padding: 20px 35px;
   display: table;
   width: 100%;
}

.col-md-1 {
  width: 33.3333%;
  float: left;
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
}

.col-md-2 {
  width: 33.3333%;
  float: left;
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
}

.col-md-3 {
  width: 33.3333%;
  float: left;
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
}

.heading-fancy {
  position: relative;
}

.heading-fancy.heading-line:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 1px solid #E5E5E5;
  left: auto;
  top: 49%;
  right: 0;
}

.heading-fancy h4 {
  padding-right: 10px;
  background-color: #FFF;
  padding-right: 15px;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  color: #111;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 10px 0;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
}

.heading-fancy2 {
  position: relative;
  text-align: center;
  display: table;
  width: 100%;
  padding: 10px 0px;
  background: #fff;
}

.head-1 {
  padding: 0px 0px;
}

.head-1:before {
  top: 13px !important;
}

.head-1 h4 {
  font-size: 0.6rem !important;
  margin: 0 0 5px 0 !important;
}

.head-dark {
  position: relative;
  text-align: center;
  display: table;
  width: 100%;
  padding: 10px 0px;
  background: #13151b;
  min-width: 100%;
}

.head-dark:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 1px solid #23262f;
  left: auto;
  top: 23px;
  right: 0;
}

.head-dark h4 {
  padding-right: 10px;
  background-color: #13151b;
  padding: 0 15px;
  position: relative;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  color: #c1c1c1;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 10px 0;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
}

.head-dark-1 {
  position: relative;
  text-align: center;
  display: table;
  width: 100%;
  padding: 0px 0px;
  background: #13151b;
  min-width: 100%;
}

.head-dark-1:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 1px solid #23262f;
  left: auto;
  top: 13px;
  right: 0;
}

.head-dark-1 h4 {
  padding-right: 10px;
  background-color: #13151b;
  padding: 0 15px;
  position: relative;
  display: inline-block;
  font-size: 0.6rem;
  font-weight: 600;
  color: #c1c1c1;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 5px 0;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
}

.head-dark-2 {
  position: relative;
  text-align: center;
  display: table;
  width: 100%;
  padding: 10px 0px;
  background: #13151b;
  min-width: 100%;
}

.head-dark-2:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 1px solid #23262f;
  left: auto;
  top: 23px;
  right: 0;
}

.head-dark-2 h4 {
  padding-right: 10px;
  background-color: #13151b;
  padding: 0 15px;
  position: relative;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  color: #c1c1c1;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 10px 0;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
}

.head-3 {
  position: relative;
  text-align: center;
  display: table;
  width: 100%;
  padding: 10px 0px;
  background: #fff;
  min-width: 100%;
}

.head-3:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 1px solid #23262f;
  left: auto;
  top: 23px;
  right: 0;
}

.head-3 h4 {
  padding-right: 10px;
  background-color: #fff;
  padding: 0 15px;
  position: relative;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  color: #c1c1c1;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 10px 0;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
}

.heading-fancy2.heading-line2:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 1px solid #E5E5E5;
  left: auto;
  top: 23px;
  right: 0;
}

.heading-fancy2 h4 {
  padding-right: 10px;
  background-color: #FFF;
  padding: 0 15px;
  position: relative;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  color: #828282;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 10px 0;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
}

.post-thumbnail-entry:last-child {
  border-bottom: 0;
}

.post-thumbnail-entry {
  float: left;
  position: relative;
  clear: both;
}

.post-thumbnail .post-thumbnail-entry>img {
  margin-bottom: 0px;
  min-height: 190px;
  max-height: 290px;
  width: 100%;
  vertical-align: middle;
  border: 0;
}

.post-thumbnail .post-thumbnail-entry>a img {
  margin-bottom: 0px;
  min-height: 190px;
  max-height: 290px;
  width: 100%;
  overflow: hidden;
  border: 0;
  vertical-align: bottom;
  opacity: 0.7;
}

.post-date-big {
  background: #d9534f;
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 48;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 49% 85%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 49% 85%, 0 100%, 0 0);
}

.post-date-big span {
  text-align: center;
  margin: 0 auto;
  float: left;
  width: 100%;
  padding: 10px 10px 2px 10px;
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1;
}

.post-date-big p {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-family: cpr;
}

.post-date i {
  margin-right: 2px;
}

.post-category {
  color: #999;
  font-size: 13px;
  margin-left: 6px;
}

.post-category i {
  margin-right: 2px;
}

h3 {
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
}

h3 a {
  color: #fff;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 10px 0;
  text-rendering: optimizelegibility;
}

.post-thumbnail-content p {
  font-size: 1em;
  color: #fff;
}

.post-thumbnail-content-2 p {
  font-size: 15px;
  color: #fff;
}

.post-thumbnail-content {
  padding: 10px 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  color: #fff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  text-align: left;
  z-index: 1;
}

.post-thumbnail-content-2 {
  padding: 50px 40px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  color: #fff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.col-md-left {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
}

.col-md-right {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
}

.post-thumbnail-article {
  float: left;
  position: relative;
}

.post-thumbnail-article>a {
  float: left;
}

a.post-img .post-thumbnail-article img {
  width: 100%;
  vertical-align: bottom;
  border: 0;
  opacity: 0.7;
}

.card-img {
  width: 100%;
  background: #111;
}

.card-img img {
  width: 100%;
  vertical-align: bottom;
  border: 0;
  opacity: 0;
  min-height: 82px;
}

.card-img .image-wrapper {
  opacity: 0.6;
}

.card-img .image-wrapper:hover {
  opacity: 1;
}

.post-img {
  background: #000;
}

.post-play-icon {
  position: absolute;
  font-size: 45px;
  z-index: 500;
  left: 75px;
  top: 10px;
  line-height: 0;
  color: #ffffff;
}

h4 p.insta_txt {
  float: left;
  padding: 0 10px 0 0;
  font-weight: normal;
  color: #c1c1c1;
}

.content-line-insta {
  position: relative;
  margin: 10px 0;
  min-height: 100px;
  max-height: 254px;
  overflow: hidden;
  background: #fff;
  padding: 20px 35px;
}

.slider-logo {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  padding: 20px 40px;
  background: #f5f5f5;
  min-height: 68px;
}


/** base carousel **/

#my-carousel-2 {
  overflow: hidden;
  max-width: 1803px;
  min-width: 1200px;
}

.carousel ul {
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 66px;
  width: 100%;
}

.no-js .carousel ul {
  position: static;
}

.carousel .mask {
  position: relative;
  overflow: hidden;
}

.carousel ul li {
  float: left;
  margin: 0;
}

.carousel .pagination-links {
  list-style: none;
  margin: 10px 10px 0px 10px;
  padding: 0;
  text-align: center;
  float: left;
  position: absolute;
  left: 47%;
  bottom: 0;
}

.carousel .pagination-links li {
  display: inline;
}

.carousel .pagination-links li a {
  padding: 2px 6px;
  color: #888;
}

.carousel .pagination-links li a:hover {
  text-decoration: none;
}

.carousel .pagination-links li.current a {
  background: #e9e9e9;
  color: #888;
  line-height: 1.5;
}

.carousel .disabled {
  color: whitesmoke;
  cursor: default;
}


/** my carousel 1 **/

#my-carousel-1 .mask {
  width: 150px;
}


/** my carousel 2 **/

#my-carousel-2 .mask {
  max-width: 1803px;
  min-width: 1200px;
}

#my-carousel-2 ul li {
  margin: 0 3px 0 0;
}

#my-carousel-2 ul li img {
  height: 65.5px;
}


/** my carousel 3 **/

#my-carousel-3 .mask {
  width: 450px;
}

.color-1 {
  background: #e9e9e9;
}

a.next {
  background-color: #fff;
  padding: 23px 13px;
  right: 0px;
  position: absolute;
  top: 20px;
}

a.prev {
  background-color: #fff;
  padding: 23px 13px;
  left: 0px;
  position: absolute;
  top: 20px;
}

.content-line-footer {
  position: relative;
  margin: 0px 0;
  overflow: hidden;
  padding: 20px 35px;
  background: #2e2e2e url(../img/pattern-1.png);
  min-height: 390px;
}

.footer-menu {
  position: relative;
  margin: 0 auto 20px auto;
  overflow: hidden;
  width: 1000px;
  z-index: 500;
  border: 1px solid #5f5f5f;
}

li.nav-footer2 {
  float: left;
  height: 24px;
  width: 89px;
  border-right: 1px solid #5f5f5f;
  padding: 5px;
}

li.nav-footer2 a {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  width: 89px;
  position: absolute;
  line-height: 2.3;
  font-size: 11px;
}

li.nav-footer2 a:hover {
  background: #999;
}

li.nav-footer2 a.nav-footer3 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  width: 89px;
  position: absolute;
  line-height: 2.3;
  font-size: 11px;
  background: #636363;
}

li.nav-footer2 a.nav-footer3:hover {
  color: #fff;
  background: #999;
}

.footer-nav {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.footer-1 {
  width: 25%;
  height: 335px;
  z-index: 500;
  position: relative;
}

.footer-1 p {
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  margin: 50px 10px 25px 0;
}

.footer-1 a.logo-footer {
  margin: 0 10px 25px 0;
  float: left;
}

.footer-1 a.logo-footer img {
  width: 100px;
}

.footer-2 {
  width: 30%;
  height: 335px;
  z-index: 500;
  position: relative;
}

.footer-2 a.mail-txt {
  color: #ccc;
  font-size: 12px;
  margin: 40px 10px 10px 10px;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
  float: left;
  width: 100%;
}

.footer-2 p.call-txt {
  color: #fff;
  font-size: 11px;
  margin: 20px 10px 0px 10px;
  text-transform: uppercase;
}

p.kipyatcom {
  float: left;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 11px;
  background: #111;
  padding: 5px;
}

.footer-2 a.call-number {
  color: #fff;
  font-size: 20px;
  margin: 3px 10px 10px 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-3 {
  width: 450px;
  height: 335px;
  z-index: 500;
  position: relative;
}

.footer-bottom {
  position: relative;
  margin: 0px 0;
  overflow: hidden;
  padding: 5px 35px;
  background: #2e2e2e;
  border-top: 1px solid #585858;
}

a.smm {
  color: #fff;
  font-size: 14px;
  margin: 20px 10px 0px 100px;
  float: left;
}

a.smm2 {
  color: #fff;
  font-size: 14px;
  margin: 50px 10px 0px 100px;
  float: left;
}

video.video_footer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
  opacity: 0.1;
}

#back-top {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  position: fixed;
  right: 50%;
  z-index: 9999;
  font-size: 33px;
  margin: 0;
  letter-spacing: 0;
  line-height: 0;
  bottom: 0px;
  right: 10px;
}

#back-top a {
  color: #fff;
  float: left;
  background: #d9534f;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  -webkit-box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.37);
  font-size: 4rem;
  text-align: center;
  padding: 0px 9px;
  display: inline-table;
  vertical-align: middle;
  overflow: hidden;
}

#back-top a i {
  line-height: 3rem;
}

#back-top a:hover {
  opacity: 1;
}

.filter-a {
  position: relative;
  z-index: 50;
  margin: 0 0 5px 0;
  width: 100%;
  height: 56px;
  background: #f1f1f1;
}

a.button-a {
  background: #c0c0c0;
  height: 56px;
  width: 32px;
  border: 4px solid #ffffff;
  float: left;
  line-height: 49px;
  text-align: center;
  color: #fff;
  margin: 0 1px 0 0;
}

a.button-a:hover {
  background: #d9534f;
  border: 4px solid #ffffff;
  color: #fff;
}

ul.mini-menu {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

ul.mini-menu:after {
  display: block;
  content: ' ';
  clear: both;
  float: none;
}

ul.mini-menu>li {
  float: left;
  position: relative;
}

ul.mini-menu>li>a {
  display: block;
  padding: 10px;
  color: #111111;
  background: #e4e4e4;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'FFDinProCond';
  height: 56px;
  border: 4px solid #ffffff;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
}

ul.mini-menu>li>a i {
  padding: 0 0 0 5px;
}

ul.mini-menu>li>a:hover {
  background: #d9534f;
  color: #fff;
}

ul.submenu {
  display: none;
  position: absolute;
  top: 54px;
  left: 0;
  background: white;
  border-bottom: 2px solid #ffffff;
}

ul.submenu>li {
  display: block;
}

ul.submenu>li>a {
  display: block;
  padding: 10px;
  color: #111111;
  background: #f1f1f1;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'FFDinProCond';
  height: 52px;
  border-top: 2px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  min-width: 130%;
}

ul.submenu>li>a:hover {
  background: #d9534f;
  color: #fff;
}

ul.mini-menu>li:hover>ul.submenu {
  display: block;
}

.date-calendar {
  float: left;
}

input.date-a {
  height: 56px;
  font-size: 1.3rem;
  font-family: 'FFDinProCond';
  padding: 10px;
  width: 100px;
  border: 0;
  background: #fff;
  color: #909090;
  border-right: 1px solid #e4e4e4;
}

.search-a {
  float: left;
}

.search-a>.nav>li.nav-search input[type="text"] {
  width: 200px;
  height: 56px;
  padding: 16px 20px;
}

.search-a .nav>li.nav-search input[type="submit"],
.search-a .nav>li.nav-search button[type="submit"]
 {
  display: block;
  float: left;
  width: auto;
  height: 56px;
  padding: 0 10px;
  cursor: pointer;
  box-shadow: none;
  background: none;
  font-size: 1.3rem;
  font-family: 'FFDinProCond';
  border: 4px solid #fff;
  line-height: 3.4rem;
  color: #888888;
  -webkit-appearance: none;
}

.search-a .nav>li.nav-search input[type="submit"]:hover,
.search-a .nav>li.nav-search button[type="submit"]:hover {
  background-color: #d9534f;
  color: #fff;
}

.select-menu {
  float: left;
  z-index: 600;
  position: relative;
}

ul.mini-menu-a {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

ul.mini-menu-a:after {
  display: block;
  content: ' ';
  clear: both;
  float: none;
}

ul.mini-menu-a>li {
  float: left;
  position: relative;
}

ul.mini-menu-a>li>a {
  display: block;
  padding: 10px 15px;
  color: #111111;
  background: #fff;
  text-decoration: none;
  text-transform: uppercase;
  height: 54px;
  font-size: 0.9rem;
  text-align: center;
  line-height: 2.1rem;
  cursor: pointer;
  z-index: 500;
  position: relative;
}

ul.mini-menu-a>li>a:hover {
  background: #d9534f;
  color: #fff;
}

ul.submenu-a {
  display: none;
  position: absolute;
  top: 54px;
  left: 0;
  background: white;
  width: 300%;
  -webkit-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.35);
}

ul.submenu-a>li {
  display: block;
  float: left;
  width: 50%;
}

ul.submenu-a>li>a {
  display: block;
  padding: 5px 10px;
  color: #111111;
  background: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  border: 1px #f1f1f1 solid;
}

ul.submenu-a>li>a.submenu-active {
  color: #c0c0c0;
}

ul.submenu-a>li>a:hover {
  background: #d9534f;
  color: #fff;
}

ul.mini-menu-a>li:hover>ul.submenu-a {
  display: block;
}

.checkbox-a {
  float: left;
  height: 56px;
  padding: 18px;
}

.checkbox-a>input[type="checkbox"]+label, input[type="radio"]+label {
  text-decoration: none;
  color: #636262;
  cursor: pointer;
  display: inline-block;
  font-size: 0.7em;
  font-weight: 400;
  padding-left: 2.2em;
  padding-right: 2em;
  position: relative;
  margin: 0;
  font-style: italic;
  float: left;
  height: 19px;
  line-height: 1.7;
}

.select-photoman {
  float: right;
  z-index: 500;
  position: relative;
}

ul.photoman-menu-a {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

ul.photoman-menu-a:after {
  display: block;
  content: ' ';
  clear: both;
  float: none;
}

ul.photoman-menu-a>li {
  float: left;
  position: relative;
}

ul.photoman-menu-a>li>a {
  display: block;
  padding: 10px 15px;
  color: #111111;
  background: #fff;
  text-decoration: none;
  height: 54px;
  font-size: 0.8rem;
  text-align: center;
  line-height: 2.2rem;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

ul.photoman-menu-a>li>a:hover {
  background: #d9534f;
  color: #fff;
}

ul.subphotoman-a {
  display: none;
  position: absolute;
  top: 54px;
  right: 0;
  background: white;
  width: 200%;
  -webkit-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.35);
}

ul.subphotoman-a>li {
  display: block;
  float: left;
  width: 50%;
}

ul.subphotoman-a>li>a {
  display: block;
  padding: 8px 10px;
  color: #111111;
  background: #ffffff;
  text-decoration: none;
  font-size: 0.7rem;
  border: 1px #f1f1f1 solid;
}

ul.subphotoman-a>li>a.subphotoman-active {
  color: #c0c0c0;
}

ul.subphotoman-a>li>a:hover {
  background: #d9534f;
  color: #fff;
}

ul.photoman-menu-a>li:hover>ul.subphotoman-a {
  display: block;
}

.button_place {
  position: relative;
  z-index: 50;
  width: 100%;
  height: 56px;
  background: #f1f1f1;
  float: left;
  margin: -5px 0 0 0
}

button.btn-a {
  background-color: #d9534f;
  color: white;
  padding: 10px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  border: 4px solid #f1f1f1;
}

.button_place p {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.filter-b {
  position: relative;
  z-index: 50;
  margin: 0 0 5px 0;
  width: 100%;
  background: #e4e4e4;
  float: left;
}

.accordion {
  width: 100%;
  margin: 0 0 0px 0;
  background: #f1f1f1;
  float: left;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 8px 5px 8px 25px;
  color: #4D4D4D;
  font-size: 0.6rem;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  float: left;
  width: 100%;
}

.accordion li:last-child .link {
  border-bottom: 0;
}

.accordion li i {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 0.6rem;
  color: #afafaf;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 15px;
  left: auto;
  font-size: 0.6rem;
  top: 10px;
}

.accordion li.open .link {
  color: #465a65;
}

.accordion li.open i {
  color: #465a65;
}

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


/**
 * Submenu
 -----------------------------*/

.submenu-b {
  display: none;
  background: #465a65;
  float: left;
  width: 100%;
}

.submenu-b i.fa-camera {
  color: #35b8ab!important;
}

.submenu-b a.submenu-b-active {
  color: #35b8ab;
}

.submenu-b li {
  border-bottom: 1px solid #576d79;
  float: left;
  width: 50%;
  border-left: 1px solid #576d79;
}

.submenu-b a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 8px;
  padding-left: 25px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-size: 0.6rem;
  position: relative;
  text-transform: capitalize;
}

.submenu-b a:hover {
  background: #465a65;
  color: #FFF;
}

.poisk-a {
  float: left;
  width: 100%;
}

.poisk-a>.search-a>.nav>li.nav-search input[type="text"] {
  width: 100%;
  height: 31px;
  padding: 8px 120px 8px 25px;
  text-transform: none;
  font-size: 0.6rem;
}

.poisk-a>.search-a .nav>li.nav-search input[type="submit"] {
  display: block;
  float: left;
  width: auto;
  height: 31px;
  padding: 0 10px;
  cursor: pointer;
  box-shadow: none;
  font-size: 0.8rem;
  font-family: 'FFDinProCond';
  border: 4px solid #fff;
  color: #888888;
  line-height: 1.7rem;
  position: absolute;
  right: 0;
  background: #e4e4e4;
}

.poisk-a>.nav>li.nav-search>form {
  margin: 0 0 5px 0;
  float: left;
  width: 100%;
}

.date-calendar-b {
  position: absolute;
  right: 56px;
}

.poisk-a>.search-a>.nav>li.nav-search input[type="text"].date-a {
  width: 59px;
  height: 31px;
  padding: 11px 5px 8px 5px;
  text-transform: none;
  font-size: 0.8rem;
  font-family: 'FFDinProCond';
  color: #8c8c8c;
  border-left: 1px #e4e4e4 solid;
}

.poisk-a>.search-a>.nav>li.nav-search>form {
  height: auto;
}

.poisk-a>.search-a {
  float: left;
  width: 100%;
}

.poisk-a>.search-a .nav {
  float: left;
  width: 100%;
}

.poisk-a>.search-a .nav li.nav-search {
  float: left;
  width: 100%;
}

.poisk-a>.search-a>.nav>li.nav-search>form .fa-search {
  position: absolute;
  left: 8px;
  top: 10px;
  font-size: 0.6rem;
  color: #afafaf;
}

.back_all .poisk-a {
  float: left;
  width: 100%;
  padding: 0 0 0 33px;
}

.back_all>.poisk-a>.search-a>.nav>li.nav-search>form .fa-search {
  left: 40px;
}

.back_all .accordion .link {
  padding: 8px 5px 8px 58px;
}

.back_all .accordion li i.fa-glass {
  left: 40px;
}

.zagolovok-a {
  position: relative;
  z-index: 50;
  margin: 0 0 15px 0;
  width: 100%;
  height: 100px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(197, 197, 197, 1);
  -moz-box-shadow: 0px 5px 0px 0px rgba(197, 197, 197, 1);
  box-shadow: 0px 5px 0px 0px rgba(197, 197, 197, 1);
}

a.button-b {
  background: #c0c0c0;
  height: 56px;
  width: 32px;
  border: 4px solid #ffffff;
  float: left;
  line-height: 49px;
  text-align: center;
  color: #fff;
  margin: 22px 5px 22px 15px;
}

a.button-b:hover {
  background: #d9534f;
}

a.button-d {
  background: #c0c0c0;
  height: 61px;
  width: 32px;
  border: 4px solid #ffffff;
  position: absolute;
  text-align: center;
  color: #fff;
  z-index: 500;
  margin: 0;
  line-height: 50px;
}

a.button-d:hover {
  background: #d9534f;
}

.date-name-a {
  float: left;
  width: 125px;
  height: 125px;
  background: #465a65;
  margin: 0 0 5px 0;
  color: #fff;
  text-align: center;
  padding: 15px;
  -webkit-clip-path: polygon(100% 0, 100% 80%, 80% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 80%, 80% 100%, 0 100%, 0 0);
}

.date-name-a span {
  float: left;
  width: 100%;
  margin: 0;
  color: #84abc1;
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-transform: lowercase;
}

.date-name-a h2 {
  float: left;
  width: 100%;
  margin: 0;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 3.5rem;
}

.date-name-a p {
  float: left;
  width: 100%;
  margin: 0;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1rem;
  text-transform: lowercase;
}

.album_zagolovok {
  width: 55%;
  float: left;
  overflow: hidden;
  padding: 20px 20px;
  height: 100px;
}

.album_zagolovok h2 {
  font-size: 1.5rem;
  font-family: 'FFDinProCond';
  margin: 0 0 0px 0;
  text-transform: uppercase;
}

.album_zagolovok p {
  font-size: 0.9rem;
  font-family: ptc;
  margin: 0 0 0px 0;
  line-height: 1rem;
}

a.save-a {
  position: absolute;
  left: 199px;
  top: 106px;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #6d6d6d;
}

a.save-a:hover {
  color: #111;
}

a.save-a i {
  padding: 4px;
  color: #d9534f;
  background: #f7f5f5;
  margin-right: 5px;
}

a.pl-all-a {
  position: absolute;
  right: 448px;
  top: 106px;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #a7a7a7;
}

a.pl-all-a:hover {
  color: #111;
}

a.pl-all-a i {
  padding: 4px;
  color: #d9534f;
  background: #f7f5f5;
  margin-right: 5px;
}

.album_photograph {
  float: right;
  overflow: hidden;
  padding: 17px 20px;
  height: 100px;
  border-right: 4px solid #c5c5c5;
  border-left: 4px solid #e4e4e4;
}

.photograph_avatar {
  float: left;
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.27);
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}

.photograph_avatar img {
  float: left;
  width: 65px;
  height: 65px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 2px solid #ffffff;
}

.photograph_name {
  float: left;
  padding: 0px 0px 0px 10px;
  height: 45px;
  border-left: 1px solid #ccc;
  margin: 10px 0 10px 10px;
}

.photograph_name a {
  float: left;
  font-size: 0.5rem;
  text-transform: uppercase;
  color: #a0a0a0;
  letter-spacing: 2px;
}

.photograph_name a span {
  letter-spacing: 0;
  font-size: 1.03rem;
  color: #465a65;
  font-family: 'FFDinProCond';
  width: 95px;
  float: left;
  line-height: 0.9rem;
  padding: 5px 0 0 0;
}

.album_pl {
  float: right;
  width: 450px;
  height: 125px;
  background: #fff;
  margin: 0 0 5px 0;
  padding: 10px;
}

.album_pl .place_logo {
  float: left;
  border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-left: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-right: 1px solid #465a65;
  width: 30%;
  text-align: center;
  height: 105px;
}

.album_pl .place_logo img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
}

.album_pl .place_name {
  float: left;
  background: #465a65;
  height: 105px;
  width: 70%;
  border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  border: 0px solid #000000;
  padding: 15px 20px;
}

.album_pl .place_name a {
  color: #fff;
  float: left;
  width: 100%;
}

.album_pl .place_name a span {
  text-transform: uppercase;
  font-family: 'FFDinProCond';
  font-size: 1.3rem;
  line-height: 1.3rem;
  float: left;
  width: 100%;
}

.album_pl .place_name a p {
  font-size: 0.8rem;
  margin: 0;
  float: left;
  width: 100%;
  line-height: 0.8rem;
}

.album_pl .place_name p {
  float: left;
  width: 100%;
  margin: 8px 0 0 0;
  line-height: 1.3rem;
}

.album_pl .place_name p span {
  color: #fff;
  width: 100%;
  float: left;
  font-size: 0.8rem;
  position: relative;
  line-height: 0.8rem;
}

.album_pl .place_name p span i {
  color: #35b8ab;
  padding: 0 10px 0 0;
}

.album_pl .place_name p a {
  color: #a2f7ee;
  width: 100%;
  float: left;
  font-size: 0.8rem;
  position: relative;
  line-height: 1.5rem;
  font-weight: bold;
}

.album_pl .place_name p a i {
  color: #35b8ab;
  padding: 0 10px 0 0;
}

.zagolovok-b {
  position: relative;
  z-index: 50;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(197, 197, 197, 1);
  -moz-box-shadow: 0px 5px 0px 0px rgba(197, 197, 197, 1);
  box-shadow: 0px 5px 0px 0px rgba(197, 197, 197, 1);
  margin: 0 0 10px 0;
  float: left;
  min-height: 65px;
}

a.button-c {
  background: #c0c0c0;
  height: 56px;
  width: 32px;
  border: 4px solid #ffffff;
  position: absolute;
  line-height: 49px;
  text-align: center;
  color: #fff;
  margin: 5px 0px;
  z-index: 500;
}

a.button-c:hover {
  background: #d9534f;
}

.zag-b {
  float: left;
  width: 100%;
  z-index: 400;
  padding: 10px 32px 10px 32px;
}

.zag-b-in {
  padding: 0 8px 0 8px;
  float: left;
}

.zag-b-in span {
  font-size: 0.6rem;
  text-transform: uppercase;
  float: left;
  width: 100%;
  color: #d9534f;
  font-weight: bold;
}

.zag-b-in h2 {
  font-size: 1rem;
  text-transform: uppercase;
  float: left;
  width: 100%;
  font-weight: bold;
  font-family: 'FFDinProCond';
  line-height: 1rem;
  margin: 5px 0;
}

.zag-b-in p {
  font-size: 0.6rem;
  text-transform: uppercase;
  float: left;
  width: 100%;
  margin: 0;
  line-height: 0.6rem;
}

a.button-save {
  background: #ffffff;
  height: 56px;
  width: 32px;
  border: 4px solid #f1f1f1;
  position: absolute;
  line-height: 49px;
  text-align: center;
  color: #c5c5c5;
  margin: 5px 0px;
  z-index: 500;
  right: 0;
}

a.button-save:hover {
  background: #35b8ab;
  color: #fff;
}

.submenu-b>.album_pl {
  float: right;
  width: 100%;
  margin: 0 0 0px 0;
  padding: 10px;
  height: auto;
}

.submenu-b>.album_pl .place_name {
  float: left;
  background: #465a65;
  min-height: 88px;
  height: auto;
  width: 70%;
  border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  border: 0px solid #000000;
  padding: 10px 15px;
}

.submenu-b>.album_pl .place_name a {
  padding: 0;
}

.submenu-b>.album_pl .place_name a span {
  text-transform: uppercase;
  font-family: 'FFDinProCond';
  font-size: 1rem;
  line-height: 1rem;
  float: left;
  width: 100%;
}

.submenu-b>.album_pl .place_name a p {
  font-size: 0.6rem;
  margin: 0;
  float: left;
  width: 100%;
  line-height: 0.66rem;
}

.submenu-b>.album_pl .place_name p {
  float: left;
  width: 100%;
  margin: 7px 0 0 0;
  line-height: 1.3rem;
}

.submenu-b>.album_pl .place_name p span {
  color: #fff;
  width: 100%;
  float: left;
  font-size: 0.6rem;
  position: relative;
  line-height: 0.6rem;
}

.submenu-b>.album_pl .place_name p a {
  color: #fff;
  width: 100%;
  float: left;
  font-size: 0.7rem;
  position: relative;
  font-weight: bold;
}

.submenu-b>.album_pl .place_name p span i {
  color: #35b8ab;
  padding: 0 5px 0 0;
  float: left;
  position: relative;
  top: 0;
  left: 0;
}

.submenu-b>.album_pl .place_name p a i {
  color: #35b8ab;
  padding: 0 5px 0 0;
  float: left;
  position: relative;
  top: 5px;
  left: 0;
}

.submenu-b>.album_pl .place_logo {
  height: 88px;
}

.submenu-b a.pht-a {
  position: relative;
  float: left;
  padding: 5px 5px 5px 27px;
  margin: 0;
  background: #f1f1f1;
  width: 100%;
  color: #111;
}

.content_wrapper {
  min-height: 400px;
  float: left;
  background: #fff;
  width: 100%;
  margin: 0 0 5px 0;
  padding: 10px;\
  overflow: hidden;
}

.content_wrapper_dark {
  min-height: 400px;
  float: left;
  background: #13151b;
  width: 100%;
  margin: 0 0 5px 0;
  padding: 10px;
}

.place {
  width: 100%;
  float: left;
  background: #fff;
  margin: 0 0 0px 0;
  padding: 10px;
  position: relative;
  height: 126px;
  overflow: hidden;
}

.place .place_logo {
  border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-left: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-right: 1px solid #465a65;
  width: 30%;
  text-align: center;
  height: 105px;
  display: table-cell;
  vertical-align: middle;
}

.place .place_logo a {
  height: 103px;
  margin: 0 auto;
  width: 100%;
}

.place .place_logo a img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  min-width: 85px;
  min-height: 85px;
}

.place .place_name {
  display: table-cell;
  vertical-align: middle;
  background: #465a65;
  height: 105px;
  width: 70%;
  overflow: hidden;
  border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  border: 0px solid #000000;
  padding: 15px 20px;
}

.place .place_name a {
  color: #fff;
  float: left;
  width: 100%;
}

.place .place_name a span {
  text-transform: uppercase;
  font-family: 'FFDinProCond';
  font-size: 1.3rem;
  line-height: 1.3rem;
  float: left;
  width: 100%;
}

.place .place_name a p {
  font-size: 0.8rem;
  margin: 0;
  float: left;
  width: 100%;
  line-height: 0.8rem;
}

.place .place_name p {
  float: left;
  width: 100%;
  margin: 8px 0 0 0;
  line-height: 1.3rem;
}

.place .place_name p span {
  color: #fff;
  width: 100%;
  float: left;
  font-size: 0.8rem;
  position: relative;
  padding: 3px 0 3px 0;
  line-height: 1rem;
}

.place .place_name p span i {
  color: #35b8ab;
  position: absolute;
  left: 0;
  width: 15px;
  text-align: center;
  font-size: 0.7rem;
  top: 1px;
}

.place .place_name p a {
  color: #a2f7ee;
  width: 100%;
  float: left;
  font-size: 0.8rem;
  position: relative;
  line-height: 1.5rem;
  font-weight: bold;
  padding: 0 0 0 20px;
}

.place .place_name p a i {
  color: #35b8ab;
  position: absolute;
  left: 0;
  width: 15px;
  text-align: center;
  top: 3px;
  font-size: 1rem;
}

.place_big {
  width: 100%;
  background: #465a65;
  margin: 10px auto;
  max-width: 1366px;
  display: table;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.16);
}

.place_big .place_big_logo {
  border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-left: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-right: 0px solid #465a65;
  width: 20%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  background: #fff;
}

.place_big .place_big_logo a {
  height: 103px;
  margin: 0 auto;
  width: 100%;
  float: left;
  background: #fff;
}

.place_big .place_big_logo a img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
}

.place_big .place_big_name {
  background: #465a65;
  display: table-cell;
  /* width: 80%; */
  overflow: hidden;
  border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  border: 0px solid #000000;
  padding: 15px 20px;
  position: relative;
  height: 100%;
}

.place_info {
  width: 100%;
  margin: 10px auto;
  max-width: 1366px;
  display: table;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  margin: -6px auto 10px auto;
  padding: 10px;
  background: #f5f5f5;
}

.place_info_pic {
  width: 20%;
  height: 100%;
  padding: 0 15px 0 0;
  float: left;
  display: table;
}

.place_info_text {
  border-left: 5px solid #e4e4e4;
  float: left;
  width: 80%;
  display: table;
  height: 100%;
  padding: 0 0 0 20px;
  margin-bottom: 10px;
}

.place_info_text p {
  margin: 0;
  font-size: 0.7rem;
  color: #737373;
  float: left;
  width: 100%;
  min-height: 5px;
}

.place_00 {
  width: 100%;
  display: table;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-right: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.place_info_pic p {
  text-align: right;
  padding: 20px !important;
  font-weight: bold;
  color: #465a65 !important;
  border: 0 !important;
}

.place_info_pic a {
  height: 80px;
  display: table-cell;
  vertical-align: middle;
  padding: 10px 0px 10px 10px;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #a9a9a9;
  cursor: pointer;
}

.place_info_pic a:hover {
  color: #d9534f;
}

.place_info_pic a img {
  max-height: 100%;
  max-width: 100%;
  float: left;
}

.place_info_pic a img:hover {
  opacity: 1;
}

.place_info_b {
  width: 100%;
  display: table-cell;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-right: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  padding: 0px 20px 10px 20%;
  position: relative;
}

.place_info_b p {
  margin: 0;
  font-size: 0.7rem;
  color: #737373;
  float: left;
  width: 100%;
  min-height: 5px;
  border-left: 5px solid #e4e4e4;
  padding: 0 0 0 20px;
}

.place_big .place_big_name a.name_name {
  color: #fff;
  float: left;
  width: 100%;
  border-bottom: 1px solid #5e7582;
}

.place_big .place_big_name a {
  color: #fff;
  float: left;
  width: 100%;
  border-bottom: 1px solid #5e7582;
  border-bottom: none;
}

.place_big .place_big_name a span {
  text-transform: uppercase;
  font-family: 'FFDinProCond';
  font-size: 1.6rem;
  line-height: 2rem;
  float: left;
  letter-spacing: 2px;
}

.place_big .place_big_name a p {
  font-size: 0.95rem;
  margin: 0 0 0 10px;
  float: left;
  line-height: 1.8rem;
  text-align: left;
  padding: 0 0 0 10px;
  width: auto;
}

.place_big .place_big_name p {
  float: left;
  width: 20%;
  margin: 10px 0 0 0;
  line-height: 1rem;
  color: #fff;
  font-size: 0.8rem;
  z-index: 1;
  position: relative;
  padding: 0 10px 0 30px;
  border-left: 1px #687e8a solid;
}

.place_big .place_big_name p.ten_per {
  width: 20%;
  margin: 6px 0 0 20px;
  position: absolute;
  right: 20px;
}

.place_big .place_big_name p.calling {
  position: absolute;
  right: 20px;
  width: auto;
  top: 10px;
  text-align: left;
  padding: 0 0 0 10px;
}

.place_big .place_big_name p i {
  float: left;
  font-size: 1.3rem;
  color: #35b8ab;
  position: absolute;
  left: 2px;
  width: 26px;
  text-align: center;
}

.place_big .place_big_name p span i {
  color: #35b8ab;
  padding: 0 10px 0 0;
}

.place_big .place_big_name p a {
  color: #a2f7ee;
  font-weight: bold;
  font-size: 1rem;
  padding: 0 0 0 18px;
}

.place_big .place_big_name p a i {
  float: left;
  font-size: 1.3rem;
  color: #35b8ab;
  width: 21px;
  position: absolute;
  left: 4px;
}

.place_info_left, .place_info_right {
  width: 50%;
  float: left;
}

.place_info_left {
  padding-right: 5px;
  min-height: 375px;
  overflow: hidden;
}

.place_info_right {
  padding-left: 5px;
  min-height: 453px;
  overflow: hidden;
  height: 100%;
  background: url(../img/map_fon.jpg) no-repeat;
  background-position: 5px 53px;
  min-width: 50%;
}

@media only screen and (min-width: 320px) {
  .place {
    padding: 5px 0px;
  }
  .place .place_name {
    padding: 10px 15px;
  }
  .place .place_name p span {
    padding: 0 0 0 20px;
    font-size: 0.65rem;
    line-height: 0.8rem;
    position: relative;
  }
  @media only screen and (min-width: 400px) {
    .place {
      width: 100%;
      padding: 5px 5px;
    }
  }
  @media only screen and (min-width: 568px) {
    .place {
      width: 50%;
    }
    .place .place_name {
      padding: 12px 15px;
    }
  }
  @media only screen and (min-width: 900px) {
    .place {
      width: 33.3333%;
      padding: 10px;
    }
  }
  @media only screen and (min-width: 1100px) {
    .place {
      width: 33.3333%;
    }
  }
  @media only screen and (min-width: 1280px) {
    .place {
      width: 25%;
    }
    .place .place_name p span {
      font-size: 0.7rem;
      line-height: 0.8rem;
    }
  }
  @media only screen and (min-width: 1366px) {
    .place {
      width: 25%;
    }
    .place .place_name a span {
      font-size: 1.2rem;
      line-height: 1.2rem;
    }
    .place .place_name a p {
      font-size: 0.7rem;
      line-height: 0.7rem;
    }
    .place .place_name p span {
      font-size: 0.7rem;
      line-height: 0.7rem;
    }
  }
  @media only screen and (min-width: 1600px) {
    .place {
      width: 20%;
    }
  }
}

.slider-place {
  width: 100%;
  height: 400px !important;
  max-width: 1000px !important;
  overflow: hidden;
  height: 100%;
}

ul.slides-place li img {
  width: auto;
  height: 400px !important;
  overflow: hidden;
  min-width: 100%;
}

ul.slides-place {
  height: 400px !important;
  overflow: hidden;
}

#content-tab1>.slider-place {
  width: 100%;
  height: auto !important;
  max-width: 1000px !important;
  overflow: hidden;
  min-height: 100px !important;
}

#content-tab1>.slider-place>ul.slides-place li img {
  width: 100%;
  height: auto !important;
}

#content-tab1>.slider-place>ul.slides-place {
  height: auto !important;
  overflow: hidden;
}

.top-nav {
  background: #555555;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  left: 0;
  opacity: 0.95;
  padding: 8px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

.topnav-wrapper {
  margin: 0 auto;
  max-width: 980px;
}

.top-logo {
  color: #ddd;
  font: bold 16px/20px "Crete Round", serif;
  padding-left: 10px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.top-logo a {
  color: #B8B8B8;
  text-decoration: none;
}

.top-logo a:hover {
  color: #ddd;
}

.topnav-right {
  float: right;
}

.right-menu {
  margin: 0;
  overflow: hidden;
}

.right-menu li {
  float: left;
  list-style-type: none;
  margin: 0;
}

.right-menu li a {
  color: #B8B8B8;
  display: block;
  padding: 0.05em 0.75em;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.right-menu li a:hover {
  color: #fff;
  text-shadow: none;
}

.right-menu li span {
  font-size: 16px;
  line-height: 1.2;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 25px 10px 0;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

.info {
  color: rgba(78, 78, 78, 0.8);
  width: 100%;
  margin: 40px auto;
  text-align: center;
  font-weight: 300;
}

.info a {
  color: #bbb;
  text-decoration: none;
}

.info a:hover {
  color: #888;
}


/* Конец стилей демо-страницы */


/* Базовый контейнер табов */

.tabs_info1 {
  max-width: 1024px;
  padding: 0px;
  margin: 0 auto;
}


/* Стили секций с содержанием */

.tabs_info1>section {
  display: none;
  padding: 10px;
  background: #fff;
  float: left;
  overflow: hidden;
  width: 100%;
  position: relative;
  border: 1px solid #ddd;
}

.tabs_info1>section>p {
  margin: 0 0 5px;
  line-height: 1.5;
  color: #383838;
  /* прикрутим анимацию */
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  font-size: 0.7rem;
}


/* Описываем анимацию свойства opacity */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Прячем чекбоксы */

.tabs_info1>input.tabs_info {
  display: none;
  position: absolute;
}


/* Стили переключателей вкладок (табов) */

.tabs_info1>label.tabs_info {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 10px 20px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 0px solid #ddd;
  border-width: 1px 1px 1px 1px;
  background: #f1f1f1;
  border-radius: 3px 3px 0 0;
  font-style: normal;
  height: auto;
  float: none;
  z-index: 1;
}


/* Шрифт-иконки от Font Awesome в формате Unicode */

.tabs_info1>label.tabs_info:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 5px;
}

.tabs_info1>label.tabs_info[for*="1"]:before {
  content: "\f03e";
  background: none;
  border: 0;
  color: #828282;
  position: static;
  width: auto;
}

.tabs_info1>label.tabs_info[for*="2"]:before {
  content: "\f05a";
  background: none;
  border: 0;
  color: #828282;
  position: static;
}

.tabs_info1>label.tabs_info[for*="3"]:before {
  content: "\f041";
  background: none;
  border: 0;
  color: #828282;
  position: static;
}

.tabs_info1>label.tabs_info[for*="4"]:before {
  content: "\f0f5";
  background: none;
  border: 0;
  color: #828282;
  position: static;
}

#content-tab4 .place_info_pic {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 15px 0 0;
}

#content-tab4 .place_info_pic a {
  height: 80px;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #a9a9a9;
  width: auto;
  opacity: 1;
}

#content-tab4 .place_info_pic a img {
  opacity: 1;
}


/* Изменения стиля переключателей вкладок при наведении */

.tabs_info1>label.tabs_info:hover {
  color: #888;
  cursor: pointer;
}


/* Стили для активной вкладки */

.tabs_info1>input.tabs_info:checked+label.tabs_info {
  color: #555;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  background: #fff;
}


/* Активация секций с помощью псевдокласса :checked */

#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
  display: block;
}


/* Убираем текст с переключателей
* и оставляем иконки на малых экранах
*/

@media screen and (max-width: 680px) {
  .tabs_info1>label.tabs_info {
    font-size: 0;
  }
  .tabs_info1>label.tabs_info:before {
    margin: 0;
    font-size: 18px;
  }
}


/* Изменяем внутренние отступы
*  переключателей для малых экранов
*/

@media screen and (max-width: 400px) {
  .tabs_info1>label.tabs_info {
    padding: 9px 15px;
  }
}

.place_full {
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0 0 10px 0;
}

.place_full_info {
  background: #f1f1f1;
  width: 100%;
  float: left;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  margin: 5px 0 0 0;
}

.place_full_info p {
  float: left;
  margin: 10px 0 0px 0;
  line-height: 0.95rem;
  color: #6f6f6f;
  font-size: 0.7rem;
  z-index: 100;
  position: relative;
  padding: 0 10px 10px 25px;
  border-bottom: 1px #e4e0e0 solid;
  width: 50%;
}

.place_full_info p i {
  position: absolute;
  left: 6px;
  text-align: center;
  width: 13px;
  color: #35b8ab;
  font-size: 0.8rem;
}

.place_full .place_logo {
  float: left;
  display: table;
}

.place_full .place_name {
  float: left;
  display: inherit;
}

.place_full .place_logo a {
  height: 103px;
  margin: 0 auto;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

.post_p {
  width: 33.333%;
  float: left;
  padding: 10px;
}

.post_p .post-date-big {
  width: 60px;
  height: 70px;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 49% 85%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 49% 85%, 0 100%, 0 0);
}

.post_p .post-date-big span {
  text-align: center;
  float: left;
  padding: 10px 10px 2px 10px;
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1;
}

.post_p .post-date-big p {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-family: cpr;
  margin: 0;
}

.post_p .post-thumbnail-content {
  padding: 20px 25px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 10%;
  color: #fff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  text-align: left;
  z-index: 1;
}

.post_p .post-thumbnail-content h3 {
  font-size: 1.5rem;
  color: #fff;
  font-family: 'FFDinProCond';
  margin: 0;
  line-height: 1;
}

.post_p .post-thumbnail-content p {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1rem;
}

.post_full {
  padding: 0px;
}

.post_wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
}

.post_wrapper_mid {
  background: #13151b;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
}

.post_wrapper_photo {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #13151b;
}

.post_head {
  max-width: 940px;
  margin: 25px auto;
  padding: 0px 20px;
}

.post_txt {
  max-width: 940px;
  margin: 25px auto;
  padding: 0px 20px;
  display: table;
}

.post_cont {
  max-width: 940px;
  margin: 5px auto;
  display: table;
  width: 100%;
  padding: 0px 10px;
}

.post_txt p {
  margin: 0;
  font-size: 0.9rem;
  color: #505050;
  float: left;
  width: 100%;
  min-height: 10px;
}

.tag_1 {
  line-height: 1.1rem;
}

.post_head h5 {
  padding: 20px 0 0px 0;
}

.post_head p {
  font-size: 0.8rem;
  color: #7d7d7d;
  line-height: 1rem;
  margin: 0;
  text-transform: uppercase;
}

.tag_1 a {
  padding: 2px 5px;
  background: #d9534f;
  color: #fff;
  font-size: 0.7rem;
  margin: 0 5px 0 0;
}

#slider_post {
  text-align: center
}

.catch {
  display: block;
  height: 0;
  overflow: hidden
}

#slider_post {
  margin: 0 auto
}

#slide1:checked~#slides_post .inner {
  margin-left: 0
}

#slide2:checked~#slides_post .inner {
  margin-left: -100%
}

#slide3:checked~#slides_post .inner {
  margin-left: -200%
}

#slide4:checked~#slides_post .inner {
  margin-left: -300%
}

#slide5:checked~#slides_post .inner {
  margin-left: -400%
}

#container {
  width: 100%;
  overflow: hidden
}

article img {
  width: 100%
}

#slides_post .inner {
  width: 500%;
  line-height: 0
}

#slides_post article {
  width: 20%;
  float: left
}

#commands {
  margin: 0;
  width: 100%;
  height: 67px;
  position: absolute;
  z-index: 50;
  top: 45%;
}

#commands label {
  display: none;
  width: 100px;
  height: 67px;
  opacity: 0.5
}

#commands label:hover {
  opacity: 0.8
}

#active {
  position: absolute;
  z-index: 5;
  text-align: center;
  width: 100%;
  bottom: 5px;
}

#active label {
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #e4e4e4
}

#active label:hover {
  background: #333;
  border-color: #777!important
}

#slide1:checked~#commands label:nth-child(2), #slide2:checked~#commands label:nth-child(3), #slide3:checked~#commands label:nth-child(4), #slide4:checked~#commands label:nth-child(5), #slide5:checked~#commands label:nth-child(1) {
  background: url(../img/default-skin.png) -115px -67px no-repeat;
  float: right;
  margin: 0;
  display: block;
  cursor: pointer;
  right: -120px;
  position: absolute;
  z-index: 500;
}

#slide1:checked~#commands label:nth-child(5), #slide2:checked~#commands label:nth-child(1), #slide3:checked~#commands label:nth-child(2), #slide4:checked~#commands label:nth-child(3), #slide5:checked~#commands label:nth-child(4) {
  background: url(../img/default-skin.png) -351px -67px no-repeat;
  float: left;
  margin: 0;
  display: block;
  cursor: pointer;
  left: -120px;
  position: absolute;
  z-index: 500;
}

#slide1:checked~#active label:nth-child(1), #slide2:checked~#active label:nth-child(2), #slide3:checked~#active label:nth-child(3), #slide4:checked~#active label:nth-child(4), #slide5:checked~#active label:nth-child(5) {
  background: #d9534f;
  opacity: 0.6;
  border-color: #fff!important;
  border: 2px solid #fff
}

.caption {
  line-height: 20px;
  margin: 0 0 -150%;
  position: absolute;
  padding: 320px 12px;
  opacity: 0;
  color: #fff;
  text-transform: none;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 18px
}

.caption bar {
  display: inline-block;
  padding: 10px;
  background: #000;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70)
}

#slides_post {}

#slides_post .inner {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000)
}

#slider_post {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out
}

#commands label {
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out
}

#slide1:checked~#slides_post article:nth-child(1) .caption, #slide2:checked~#slides_post article:nth-child(2) .caption, #slide3:checked~#slides_post article:nth-child(3) .caption, #slide4:checked~#slides_post article:nth-child(4) .caption, #slide5:checked~#slides_post article:nth-child(5) .caption {
  opacity: 1;
  -webkit-transition: all 1s ease-out 0.6s;
  -moz-transition: all 1s ease-out 0.6s;
  -o-transition: all 1s ease-out 0.6s;
  transition: all 1s ease-out 0.6s
}

#slider_post {
  max-width: 900px;
  position: relative;
  width: 100%;
}

@media only screen and (max-width:850px) and (min-width:320px) {
  #slider_post #commands label {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9)
  }
  #slider_post #slides_post .caption {
    padding: 280px 12px
  }
  #slider_post #slides_post {
    padding: 2px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
  }
  #slider_post #active {
    margin: 15% 0 0;
    display: none;
  }
}

@media only screen and (max-width:450px) {
  #slider_post #active {
    margin: 12% 0 0
  }
  #slider_post #slides_post {
    padding: 2px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
  }
  #slider_post #slides_post .caption {
    opacity: 0!important
  }
  #slider_post #commands label {
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7)
  }
}

@media (min-width:320px) {
  #commands {
    margin: 0;
    width: 100%;
    height: 67px;
    position: absolute;
    z-index: 50;
    top: 35%;
  }
  #slide1:checked~#commands label:nth-child(2), #slide2:checked~#commands label:nth-child(3), #slide3:checked~#commands label:nth-child(4), #slide4:checked~#commands label:nth-child(5), #slide5:checked~#commands label:nth-child(1) {
    right: -35px;
  }
  #slide1:checked~#commands label:nth-child(5), #slide2:checked~#commands label:nth-child(1), #slide3:checked~#commands label:nth-child(2), #slide4:checked~#commands label:nth-child(3), #slide5:checked~#commands label:nth-child(4) {
    left: -35px;
  }
}

@media (min-width:768px) {
  #commands {
    top: 45%;
  }
}

@media (min-width:1260px) {
  #commands {
    margin: 0;
    width: 100%;
    height: 67px;
    position: absolute;
    z-index: 50;
    top: 45%;
  }
  #slide1:checked~#commands label:nth-child(2), #slide2:checked~#commands label:nth-child(3), #slide3:checked~#commands label:nth-child(4), #slide4:checked~#commands label:nth-child(5), #slide5:checked~#commands label:nth-child(1) {
    right: -120px;
  }
  #slide1:checked~#commands label:nth-child(5), #slide2:checked~#commands label:nth-child(1), #slide3:checked~#commands label:nth-child(2), #slide4:checked~#commands label:nth-child(3), #slide5:checked~#commands label:nth-child(4) {
    left: -120px;
  }
}

.post_full_txt {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #fff;
  min-height: 50px;
}

.myvideo {
  position: relative;
  padding-bottom: 50%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #13151b;
}

.myvideo iframe, .myvideo object, .myvideo embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post_author {
  overflow: hidden;
  padding: 20px 0 0 0px;
}

.author_avatar {
  float: left;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  margin-right: 20px;
}

.author_avatar img {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 2px solid #ffffff;
}

.post-author-name {
  float: left;
}

.date01 {
  border-bottom: 1px solid #ddd;
  color: #555;
  font-size: .9rem;
  padding-bottom: 5px;
  width: auto;
}

.author span.author01 {
  color: #c0c0c0;
}

.author span {
  color: #555;
  font-size: 0.7rem;
}

.date01 time {
  color: #d9534f;
  font-size: 0.7rem;
  font-weight: bold;
}

.sharing {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #f7f7f7;
  text-align: center;
  margin: 20px 0 0px 0;
  float: left;
}

.post_wrapper_dark {
  background: #13151b;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
}

.post_min {
  max-width: 1366px;
  margin: 10px auto;
  padding: 0 10px;
  display: table;
  width: 100%;
}

.content_wrapper_2 {
  float: left;
  background: #fff;
  width: 100%;
  margin: 0 0 0px 0;
  padding: 10px;
}


/* 	МОДАЛЬНОЕ ОКНО */


/* modal box style, can be anything you want */

.modal {
  background: #fff;
  max-width: 1000px;
  min-width: 200px;
  width: 95%;
  margin: 5% auto;
  padding: 20px;
}

.modal .close {
  cursor: pointer;
  background: #ffffff url(../photoswipe/default-skin/default-skin.svg);
  width: 44px;
  height: 44px;
  position: absolute;
  z-index: 10000;
  right: 0px;
  top: 0px;
  background-position: 0px -44px;
  border-left: 1px solid #e4e4e4;
}

.modal .close:hover {
  background: #d9534f url(../photoswipe/default-skin/default-skin.svg);
  background-position: 0px -44px;
}

.themodal-lock {
  /* when modal is opened we're removing scrollbars from the main content */
  overflow: hidden;
}

.themodal-overlay {
  /* overlay will stay fixed and will take all the space available */
  position: fixed;
  bottom: 0;
  left: 0 !important;
  top: 0;
  right: 0;
  z-index: 10000;
  /* if modal content doesn't fit inside the overlay, display scrollbars */
  overflow: auto;
  /* allow one-finger iPad scrolling */
  -webkit-overflow-scrolling: touch;
}


/* fix for iPad glitches */

.themodal-overlay>* {
  -webkit-transform: translateZ(0px);
}

.themodal-overlay {
  background: rgba(0, 0, 0, 0.85);
  /* IE6–IE8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, endColorstr=#7F000000);
  zoom: 1;
}

.modal_info {
  margin: 45px 0 0 0;
}


/* встроенные элементы м-медиа, фреймы */


/* адаптивный блок видео */

.video {
  position: relative;
  padding-bottom: 57%;
  height: 0;
  overflow: hidden;
  float: left;
  width: 100%;
  background: #000;
}

.video p, .video p a {
  color: #bbb;
}

.video iframe, .video object, .video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#header_anons_video {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background-color: #ffffff;
  height: 45px;
  left: 0;
  line-height: 3.5em;
  top: 0;
  width: 100%;
  z-index: 100;
  margin: 0 0 10px 0;
  position: absolute;
  border-bottom: 1px solid #e4e4e4;
}

#header_anons_video h1 {
  padding: 0;
  margin: 0;
  height: 44px;
  border-right: 1px solid #e4e4e4;
}

#header_anons_video h1 a {
  padding: 3px 15px 0 15px;
  margin: 0;
  height: 44px;
  border-right: 1px solid #e4e4e4;
  position: absolute;
  z-index: 100;
  background: #fff;
}

#header_anons_video h1 a img {
  width: auto;
  height: 41px;
  float: left;
}

#header_anons_video h6 {
  position: absolute;
  display: inline-block;
  font-size: 0.8rem;
  color: #989898;
  font-weight: 600;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
  margin: 0;
  line-height: 2.85rem;
  width: 100%;
  text-align: center;
  z-index: 50;
  padding-left: 120px;
  padding-right: 44px;
}

.modal_info a.pic_a {
  float: left;
  width: 50%;
  padding: 0 20px 0 0;
}

.modal_info a.pic_a img {
  float: left;
  width: 100%;
}

.modal_caption {
  float: left;
  width: 50%;
}

.modal_caption span {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #ec6864;
  font-weight: bold;
}

.modal_caption h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: 'FFDinProCond';
  line-height: 1.3rem;
  margin: 5px 0;
}

.modal_caption p {
  font-size: 0.7rem;
  text-transform: uppercase;
  margin: 0;
  line-height: 0.7rem;
}

.anons_head {
  width: 50%;
  float: left;
  margin: 20px 0 20px 0;
}

.anons_head h5 {
  padding: 20px 0 0px 0;
  float: left;
  width: 100%;
}

.anons_head p {
  font-size: 0.8rem;
  color: #7d7d7d;
  line-height: 1rem;
  margin: 0;
  text-transform: uppercase;
  float: left;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 10px 0 10px 0;
  margin: 0 0 20px 0;
}

.post_author {
  overflow: hidden;
  padding: 20px 0 0 0px;
}

.date_anons {
  float: left;
  width: 100%;
}

.date_anons a {
  padding: 2px 5px;
  background: #d9534f;
  color: #fff;
  font-size: 1rem;
  margin: 0 5px 0 0;
  font-weight: bold;
}

.modal p {
  margin: 0;
  font-size: 0.9rem;
  color: #505050;
  min-height: 10px;
}

.buy_bt {
  width: 50%;
  float: left;
  border-bottom: 1px solid #ddd;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}

button.btn-b, a.btn-b {
  background-color: #35b8ab;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  border: 4px solid #f1f1f1;
  float: left;
}

@media (min-width:320px) {
  .modal_info a.pic_a {
    width: 100%;
    padding: 0;
  }
  .anons_head {
    width: 100%;
    float: left;
    margin: 20px 0 20px 0;
  }
  .buy_bt {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ddd;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
  }
}

@media (min-width:768px) {
  .modal_info a.pic_a {
    float: left;
    width: 50%;
    padding: 0 20px 0 0;
  }
  .anons_head {
    width: 50%;
    float: left;
    margin: 20px 0 20px 0;
  }
  .buy_bt {
    width: 50%;
    float: left;
    border-bottom: 1px solid #ddd;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
  }
}

.contact_head {
    max-width: 940px;
    margin: 25px auto;
    padding: 0px 20px;
}
.contact_head h5 {
    padding: 15px 0;
    font-size: 2.26rem;
}
.contact_head a {
    font-size: 0.8rem;
    color: #111;
    line-height: 1rem;
    margin: 0;
}
.contact_head a:hover {
    color: #d9534f;font-weight:bold;
}
.contact_head a.phone_txt_number_contacts {
	padding: 0px 0px 8px 0px;
    display: table;
    color: #d9534f;
    font-family: ptc-bold;
    font-size: 1.1rem;
    line-height: 1rem;
    width: 100%;
}
.contact_head p {
    font-size: 0.8rem;
    color: #7d7d7d;
    line-height: 1rem;
    margin: 0;
}
.contact_head span {
	font-size: 0.8rem;
    color: #b9b9b9;
    line-height: 1rem;
    margin: 0;
}

.region_cont{
	display: inline-table;
    padding: 0px 30px 0px 20px;
    border-left: 3px solid #E5E5E5;
    margin: 20px 0;
}

#overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 10000;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
	height: auto;
}

.popup {
    margin: 10px auto;
    width: 95%;
    padding: 0;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    display: table;
    max-width: 1024px;
}
.popup a{
	height: 20%;
    padding: 1px;
    display: table;
    text-align: center;
    width: auto;
    margin: 0 auto;
    max-height: 200px;
}

.popup a img{
    width: 100%;
    margin: 0 auto;
}


.close {
	cursor: pointer;
    background: #000 url(../photoswipe/default-skin/default-skin.svg);
    width: 44px;
    height: 44px;
    position: absolute;
    z-index: 10000;
    right: 0px;
    top: 0px;
    background-position: 0px -44px;
    opacity: 0.5;
}

/* кнопка закрытия при наведении */
.close:hover {
	background: #d9534f url(../photoswipe/default-skin/default-skin.svg);
    background-position: 0px -44px;
	opacity: 1;
}

.info_wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
	min-height:250px;
	padding: 0 0 50px 0;

}

.info_head {
    max-width: 940px;
    margin: 25px auto;
    padding: 0px 20px;

}



.accordion2 {
    width: 100%;
    margin: 0 0 0px 0;
    float: left;
    color: #333;
    border-color: #ddd;
    padding: 0;s
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.accordion2 .link {
	cursor: pointer;
    display: block;
    padding: 12px 20px 8px 20px;
    color: #888;
    font-size: 1.2rem;
    font-weight: normal;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    float: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'FFDinProCond';
    text-transform: uppercase;
	background: #f5f5f5;
}

.accordion2 li:last-child .link {  }

.accordion2 li.ac {
	background: #fff;
    float: left;
    width: 100%;
    margin: 0 0 5px 0;
    border: 1px solid #ddd;
border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;
}
.accordion2 li i {
position: absolute;
    top: 10px;
    left: 8px;
    font-size: 0.6rem;
    color: #afafaf;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion2 li i.fa-chevron-down {
    right: 15px;
    left: auto;
    font-size: 0.8rem;
    top: 17px;
}

.accordion2 li.open .link { color: #465a65;     border-bottom: 1px solid #ddd;}

.accordion2 li.open i { color: #465a65; }

.accordion2 li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu-b-2 {
    display: none;
    float: left;
    width: 100%;
}

.submenu-b-2 i.fa-camera{
	color: #35b8ab!important;
}


.submenu-b-2 li {
    float: left;
    width: 100%;
    padding: 10px 20px;
}

.submenu-b-2 li p {
    margin: 0;
    font-size: 0.9rem;
    color: #505050;
    /* float: left; */
    width: 100%;
    min-height: 10px;
}
.submenu-b-2 a {
	margin: 0;
    font-size: 0.9rem;
    color: #d9534f;
    font-weight: bold;
    float: left;
    width: 100%;
    min-height: 10px;
}

.submenu-b-2 a.button_icon {
    width: auto;
    padding: 5px;
    margin: 20px 5px 5px 5px;
}
.submenu-b-2 a.button_icon img {
    width: 101px;
}


a.long_button {
    cursor: pointer;
    display: block;
    padding: 12px 20px 8px 20px;
    color: #111;
    font-size: 1.2rem;
    font-weight: normal;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    float: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'FFDinProCond';
    text-transform: uppercase;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

a.long_button i {
	position: absolute;
    right: 15px;
    left: auto;
    font-size: 0.8rem;
    top: 18px;
}


.line_txt {
    display: block;
    padding: 12px 20px 8px 20px;
    color: #111;
    font-size: 1.2rem;
    font-weight: normal;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    float: left;
    width: 100%;;
    margin: 5px 0;
    font-family: 'FFDinProCond';
    text-transform: uppercase;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}


.info_head a {
    font-size: 0.9rem;
    color: #d9534f;
    font-weight: bold;
    min-height: 10px;
}




.team_wrapper {
    min-height: 200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    max-width: 1024px;
    display: table;
}

.team_1 {
	width: 25%;
    float: left;
    overflow: hidden;
}

.team_1 a{
    float:left;
	background:#000;
	position: relative;
}
.team_1 p{
    position: absolute;
    color: #fff;
    z-index: 100;
    width: 100%;
    bottom: 0;
    font-size: 1.2rem;
    font-family: 'FFDinProCond';
    text-transform: uppercase;
    margin: 0;
    line-height: 1.2rem;
    padding: 25px;
}

.team_1 span{
    width: 100%;
    float: left;
    font-size: 0.7rem;
    text-transform: none;
    color: #bfbfbf;
	margin:0;
	line-height: 0.7rem;
}

.team_1 a img{
    width: 100%;
	opacity: 0.7;
}





#overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 10000;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
	height: auto;
}

.popup {
    margin: 10px auto;
    width: 95%;
    padding: 0;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    display: table;
    max-width: 1024px;
}
.popup a{
	height: 20%;
    padding: 1px;
    display: table;
    text-align: center;
    width: auto;
    margin: 0 auto;
    max-height: 200px;
}

.popup a img{
    width: 100%;
    margin: 0 auto;
}


.close {
	cursor: pointer;
    background: #000 url(../photoswipe/default-skin/default-skin.svg);
    width: 44px;
    height: 44px;
    position: absolute;
    z-index: 10000;
    right: 0px;
    top: 0px;
    background-position: 0px -44px;
    opacity: 0.5;
}

/* кнопка закрытия при наведении */
.close:hover {
	background: #d9534f url(../photoswipe/default-skin/default-skin.svg);
    background-position: 0px -44px;
	opacity: 1;
}

.oops-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #13151b url(/img/404.jpg) no-repeat;
    background-position-x: center;
    background-size: auto 80%;
}


.oops-txt {
    max-width: 940px;
    margin: 25px auto 0px auto;
    padding: 0px 20px;
    display: table;
    position: relative;
    background: url(../img/travolta-lost.gif) no-repeat;
    background-size: auto 100%;
    width: 100%;
    text-align: center;
}
.oops-txt p {
color: #fff;
    width: 100%;
    margin: 40% auto 10px auto;
    font-weight: bold;
    font-family: 'FFDinProCond';
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}
.oops-txt span{
    width: 100%;
    float: left;
    text-align: center;
    margin: 0 0 200px 0;
}

.oops-txt img.travolta{
	width:100%;
}

button.btn-e {
    background-color: #d9534f;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    margin: 0 auto;
    z-index: 1000;
}

img.top-cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}


a.search_result_unit {
    padding: 20px 30px;
    border-bottom: 1px #e4e4e4 solid;
    display: table;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
a.search_result_unit h1{
    font-size: 0.8rem;
    color: #828282;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    padding: 0;
    margin: 0;
}
a.search_result_unit h2{
    font-size: 1.8rem;
    color: #111;
    font-family: 'FFDinProCond';
    text-transform: uppercase;
    line-height: 2.3rem;
    margin: 0;
    font-weight: bold;
	padding: 10px 0 0 0px;
}
a.search_result_unit span{
	font-size: 0.8rem;
    color: #7d7d7d;
    line-height: 1rem;
    margin: 0;
    text-transform: uppercase;
    color: #d9534f;
}
a.search_result_unit p{
	margin:0;
}
a.search_result_unit:hover{
	background: #fafafa;
}

.carousel  {
   width:100%;
   position: relative;
   background: #f5f5f5;
   overflow:hidden;
}
.carousel-wrapper {
	margin: 0px 40px;
    overflow: hidden;
    position: relative;
}
.carousel-items {
   width: 10000px;
   position: relative;
}
.carousel-block {
   float: left;
   width: 170px;
   height: 170px;
   margin: 0 5px 0 0;
}
.carousel-block a{
   float: left;
   background: #000;
   height: 170px;

}
.carousel-block img{
	display:block;
	width:100%;
}

/*********** BUTTONS ***********/
.carousel-button-left{
	width: 40px;
    height: 170px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    text-decoration: none;
    left: 0;
}
.carousel-button-right{
	width: 40px;
    height: 170px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    text-decoration: none;
    right: 0;
}
.carousel-button-left a{
    color: #797979;
    font-size: 1.2rem;
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 160px;
}
.carousel-button-right a{
    color: #797979;
    font-size: 1.2rem;
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 160px;
}

.carousel-button-right a .fa, .carousel-button-left a .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.heading-fancy-insta h4 {
    background-color: #f5f5f5;
    padding: 0 15px 0 40px;
    margin: 0 !important;
    position: relative;
    display: inline-block;
    font-size: 0.6rem;
    font-weight: 600;
    color: #111;
    font-weight: 600;
    margin: 0 0 10px 0;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
}
.heading-fancy-insta.heading-line-insta:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    border-top: 1px solid #E5E5E5;
    left: 40px;
    top: 15px;
    right: 40px;
}
